/*
* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Roboto, sans-serif;
    font-size: 14px;
    color: #052c65;
}

:root {
    --bs-link-color: #052c65; !* Новый цвет для ссылок nav *!
}

.container-fluid {

}

.custom-sidebar {
    height: 100vh;
    !*height: 100%;*!
}

.logo {
    margin: 0 auto;
    width: 100%;
    padding-top: 40px;
    padding-bottom: 20px;
}

.col-2 {
    padding-right: 0;
}

.logo img {
    width: 98px;
    height: 40px;
}

.custom-sidebar-main-panel {
    min-height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.custom-sidebar-main-panel {
    margin-top: 60px;
}

.nav {
    !*margin-left: 20px;*!
    !*margin-right: 20px;*!
    margin: 0 auto;
    width: 178px;
}

.nav-pills .nav-link {
    min-width: 178px;
}

.nav-link img {
    vertical-align: baseline;
    margin-right: 1px;
}

.custom-balance {
    margin-bottom: 20px;
    margin-left: 20px;
    font-weight: 600;
}

.custom-user {
    padding-top: 26px;
}

.custom-user img {
    margin-right: 16px;
}

.custom-balance span {
    color: #0d6efd
}
*/

.content {
    overflow-y: auto;
}

.custom-page-name {
    font-size: 40px;
    font-weight: 500;
    margin-top: 100px;
    margin-left: 60px;
    margin-bottom: 60px;
}

.custom-filters {
    margin-left: 60px;
    margin-bottom: 139px;
}

.custom-filters .btn {
    margin-right: 20px;
    font-size: 16px;
    font-weight: 600;
}

.custom-text-color {
    color: #6C757D;
}

.custom-filters span {
    font-size: 16px;
    font-weight: 600;
}
